.border {
  border: 1px solid red;
}
.nft_container {
  /* margin: 1rem 0 0 0; */
  border: 1px solid #d7d7d7;
  border-radius: 0.8rem;
  padding: 0.7rem;
}
.nft_container_tablet {
  margin: 1rem 1rem 0 1rem;
  min-width: 12rem;

  border: 1px solid #d7d7d7;
  border-radius: 0.8rem;
  padding: 0.7rem;
}
.nft_container_mobile {
  margin: 1rem 1rem 1rem 1rem;
  min-width: 9rem;

  border: 1px solid #d7d7d7;
  border-radius: 0.8rem;
  padding: 0.7rem;
}
.nft_container_smallScreens {
  margin: 1rem 1rem 0 1rem;
  min-width: 5rem;
  max-width: 22rem;
  border: 1px solid #d7d7d7;
  border-radius: 0.8rem;
  padding: 0.7rem;
}
.container {
  /* border: 1px solid red; */
  margin-bottom: 2rem;
  /* overflow: hidden; */
  display: grid;
  justify-content: space-around;
}
.desktop {
  grid-template-columns: auto auto auto auto;
  margin: 0 3rem;
}
.tablet {
  grid-template-columns: auto auto;

  margin: 0 0rem;
}
.mobile {
  grid-template-columns: 22rem;
  margin: 0 1rem;
}
.nft_container > img {
  width: 100%;
}
.details_container {
  /* border: 1px solid red; */
  color: #434343;
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  font-size: 0.6rem;
}
.details_container > div {
  margin: 0.3rem 0;
}
.float {
  text-align: right;
}
