.container {
  /* width: 100%; */
  background-color: #a02279;
  /* border: 1px solid red; */
  margin-top: 1rem;

  display: grid;
}
.details {
  /* border: 1px solid red; */
  padding-top: 8rem;
}
.details_mobile {
  /* border: 1px solid red; */
  padding-top: 2rem;
}
.smallScreens {
  grid-template-columns: 32% 60%;
  padding: 0rem 4rem;
  height: 42rem;
  justify-content: space-between;
}
.mobile {
  grid-template-rows: 50% 50%;
  height: 60rem;
  padding: 0rem 2rem;
}

.tablet {
  grid-template-rows: 50% 50%;
  height: 60rem;
  padding: 0rem 2rem;
}

.container > div > h1 {
  color: white;
  font-size: 2.5rem;
}
.container > div > p {
  color: white;
  line-height: 2rem;
  margin: 0;
}
.container > div > button {
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #a02279;
  background-color: white;
  padding: 0.8rem 2rem;
}

/* ------------------- */
.nft_container {
  position: relative;
  /* border: 1px solid red; */
  width: 100%;
}
.nft_container > img {
  position: absolute;
  /* height: 25rem;
  width: 25rem; */
}
/* -------------------- */
.nft1 {
  top: 2rem;
  right: 2rem;
}
.nft2 {
  top: 11rem;
  right: 17rem;
}
.nft3 {
  top: 16rem;
  right: 0rem;
}
.nft1_mobile {
  top: 2rem;
  right: -1rem;
}
.nft2_mobile {
  top: 7rem;
  right: 4rem;
}
.nft3_mobile {
  top: 9rem;
  right: -1rem;
}
.nfts {
  height: 60%;
  width: 60%;
}
.nft_mobile {
  height: 13rem;
  width: 13rem;
}
.nft_frame {
  position: relative;
  top: 2rem;
  height: 80%;
  width: 80%;
}
