.container {
  height: 25rem;
  width: 100%;
  background-color: #a02279;
  margin-top: 1rem;
  padding: 8rem;
}
.container > div {
  width: 25rem;
}
.container > div > h1 {
  color: white;
  font-size: 2.5rem;
}
.container > div > p {
  color: white;
  line-height: 2rem;
}
.container > div > button {
  margin-top: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #a02279;
  background-color: white;
  padding: 0.8rem 2rem;
}
