.footer {
  background-color: black;

  display: grid;
  /* grid-template-columns: 15rem 10rem 10rem 10rem; */
  justify-content: space-around;
}

.mobile {
  grid-template-columns: 6rem 5rem 4rem 4rem;
  height: 15rem;
}
.border {
  border: 1px solid red;
}
.header {
  color: white;
  padding-top: 2rem;
}
.name {
  font-size: 1.3rem;
}
.items {
  margin-top: 1.3rem;
}
.name_mobile {
  font-size: 0.9rem;
}
.items_mobile {
  font-size: 0.7rem;
  margin-top: 1.3rem;
}
.social_icons {
  display: grid;
  grid-template-columns: auto auto auto;
}
.social_icons_desktop {
  width: 50%;
}
.social_icons_mobile {
  width: 100%;
  margin-top: 2rem;
}
.Metabnb {
  padding-top: 2.5rem;
}

.copyright {
  margin-top: 4rem;
  color: white;
}
.copyright_mobile {
  margin-top: 2rem;
  color: white;
}
