.subfooter {
  background-color: #a02279;
  padding-top: 0.5rem;
  height: 4rem;
  display: grid;
  justify-content: space-around;
  box-sizing: border-box;
}
.smallScreens {
  grid-template-columns: 15rem 15rem 15rem;
}
.mobile {
  grid-template-columns: 7rem 7rem 7rem;
}
.tablet {
  grid-template-columns: 9rem 9rem 9rem;
}
.subfooter > img {
  height: 100%;
  width: 100%;
}
