nav {
  position: relative;
}
.Navbar_smallScreens {
  /* border: 1px solid red; */
  margin: 1rem 4rem;
  height: 2.5rem;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr 9rem;
  justify-content: space-between;
}
.Navbar_mobile {
  /* border: 1px solid red; */
  margin: 1rem 2rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 0.3fr auto auto;
  justify-content: space-between;
}
.Navbar_tablet {
  margin: 1rem 2rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 9rem;
  justify-content: space-between;
}
.Metabnb {
  margin-left: 0.2rem;
  height: 100%;
  width: 8rem;
}
.Metalogo {
  height: 100%;
  width: 2rem;
}
.meta_container {
  height: 60%;
  /* border: 1px solid red; */
}
.meta_container_mobile {
  height: 100%;
  /* border: 1px solid red; */
}
.border {
  /* border: 1px solid red; */
}
.NavItems {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 0.6rem;
  max-width: 30rem;
  font-size: 1rem;
}
.connectWallet {
  font-size: 0.9rem;

  width: 100%;
  color: white;
  background-color: #a02279;
  border-radius: 0.7rem;
  border: none;
}
.btn_smallScreen {
  height: 70%;
}
.btn_tablet {
  height: 100%;
}
.btn_mobile {
  height: 100%;
  min-width: 2rem;
}
.connectWallet_mobile {
  font-size: 0.7rem;
  height: 100%;
  max-width: 100%;
  color: white;
  background-color: #a02279;
  border-radius: 0.7rem;
  border: none;
}
.connectWallet:hover {
  background-color: #821b62;
}
.placetostay {
  text-decoration: none;
  color: black;
}
.placetostay_slider {
  text-decoration: none;
  display: grid;
  text-align: center;
  margin-bottom: 2rem;
  color: black;
}
.menu_icon {
  position: relative;
  top: 0.3rem;
}
.metaMargin {
  position: relative;
  top: 1rem;
}
