.Navbar {
  margin: 1rem 4rem;
  height: 2.5rem;
  display: grid;
  grid-template-columns: 16rem 30rem 9rem;
  justify-content: space-between;
}
.Metabnb {
  margin-left: 0.2rem;
  height: 100%;
  width: 8rem;
}
.Metalogo {
  height: 100%;
  width: 2rem;
}
.border {
  border: 1px solid red;
}
.NavItems {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 0.6rem;
  font-size: 1rem;
}
.connectWallet {
  font-size: 0.9rem;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #a02279;
  border-radius: 0.7rem;
  border: none;
}
.connectWallet:hover {
  background-color: #821b62;
}
